body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h1 {
    text-align: center;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

#settings {
    margin-bottom: 20px;
}

#settings label {
    display: block;
    margin-bottom: 5px;
}

#settings input[type="text"],
#settings select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(6, 17, 147);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
}

.cell:hover {
    background-color: rgb(6, 17, 147);
}

#message {
    text-align: center;
    font-size: 1.2em;
    color: black;

}

.winning-cell {
    background-color: lightgreen;
    border: 2px solid green;
  }
  